.container{
    width: 20rem;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* padding-top: 0rem; */
}

p{
    font-size: 1.3rem;
    font-weight: 700;
}

.level_buttons button {
    padding: 0.7rem 1rem;
    /* background: ; */
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #975fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-align: center;
    width: 50%;
    margin: 5px 0px 5px 0px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 10px 10px #d2bbfd, 0 5px 10px rgba(5,5,5,.212), inset 0 -10px 10px #7c36ff;
  }

  .level_buttons button:hover {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .category_buttons button:hover{
    
        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                    inset -2px -2px 4px rgba(255, 255, 255, .5),
                    inset 2px 2px 2px rgba(255, 255, 255, .075),
                    inset 2px 2px 4px rgba(0, 0, 0, .15);
      
  }
  

  .level_buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .category_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
    width: 100%;
    padding: 1rem;
  }

  .category_buttons button{
    padding: 0.7rem 1rem;
    /* background: ; */
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #975fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-align: center;
    width: 50%;
    /* margin:2px 0px 2px 0px; */
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 10px 10px #d2bbfd, 0 5px 10px rgba(5,5,5,.212), inset 0 -10px 10px #7c36ff;
  }
  


/* @media only screen and (max-width:1080px){
    .container{
      width: 60%;
    }
   
  }


  @media only screen and (max-width:620px){
    .container{
      width: 80%;
    }
   
  } */